*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
body{
	background: url("../images/mainbackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.scale-image{
	width: 100%;
	height: 100%;
}
.simple-header{
	text-align: center;
	font-size: 2rem;
	font-family: 'Acme', sans-serif;
	border-bottom: 1px solid gray;
}
.main-page-image-container{
	width: 1000px;
	margin: 20px auto;
	border: 4px solid #732d0a;
	border-radius: 5px;
}
.about-us-container{
	padding: 15px;
	width: 800px;
	margin: 20px auto;
	background-color: #ffe0b5;
	border: 4px solid #732d0a;
	border-radius: 5px;
}
.about-us-text{
	padding: 5px;
	text-align: center;
	font-size: 1.4rem;
	font-style: italic;
	font-weight: 700;
}
.main-title-container{
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffe0b5;
	border-bottom: 5px solid #732d0a;
}
.main-title{
	font-size: 2.6rem;
	font-family: 'Acme', sans-serif;
}
.menu{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#closeButton{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
}
.side-menu {
	position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
	height: 100%;
	background-color: #ffe0b5;
	padding-top: 60px;
	transition: 0.5s;
	border-right: 5px solid #732d0a;
}
.side-menu a {
	padding: 15px;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 700;
	color: black;
	display: block;
    transition: 0.3s;
}
.side-menu a:hover {
	color: white;
	background-color: #732d0a;
}
.offer-header-container{
	width: 90%;
	padding: 10px;
	margin: 20px auto;
	border: 4px solid #732d0a;
	background: #ffe0b5;
	border-radius: 5px;
}
.offer-container,
.vehicle-list-container{
	display: flex;
	gap: 10px;
	flex-direction: column;
	width: 70%;
	margin: 20px auto;
}
.offer-vehicle-container,
.vehicle-info-container,
.owner-vehicle-container,
.maintenance-vehicle-container{
	background-color: white;
	border: 4px solid #732d0a;
	display: grid;
	grid-template-rows: repeat(4, 80px);
	grid-template-columns: 450px 1fr;
}
.offer-image-container,
.vehicle-image-container,
.owner-image-container,
.maintenance-image-container{
	border-right: 2px solid #732d0a;
	grid-row: 1 / 5;
	grid-column: 1 / 2;
}
.offer-text,
.vehicle-info-text{
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	font-weight: 700;
	font-family: 'Acme', sans-serif;
}
.offer-text span,
.vehicle-info-text span{
	font-size: 1.6rem;
	font-weight: 700;
	font-family: 'Acme', sans-serif;
}
.form-button-extended{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #732d0a;
	color: white;
	font-weight: 700;
	font-size: 1.8rem;
	border: 2px solid white;
	padding: 5px 20px;
	box-shadow: 2px 2px 5px gray;
	text-decoration: none;
}
.form-button-extended:hover{
	background-color: #b45309;
}
.footer{
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	background-color: #ffe0b5;
	border-top: 5px solid #732d0a;
}
.footer-item{
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}
.footer-item-with-links{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.social-image{
	width: 36px;
	height: auto;
}
.header-container{
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	flex-direction: column;
	border-bottom: 5px solid #732d0a;
	background: #ffe0b5;
}
.header-title{
	font-size: 2rem;
	font-family: 'Acme', sans-serif;
}
.header-button{
	padding: 5px 20px;
	text-decoration: none;
	background-color: #732d0a;
	color: white;
	border: 2px solid white;
	font-weight: 700;
	font-size: 1.4rem;
	box-shadow: 2px 2px 5px black;
}
.header-button:hover{
	background-color: #b45309;
}
.section-header-container{
	padding: 10px;
	width: 60%;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffe0b5;
	border: 2px solid #732d0a;
	border-radius: 10px;
}
.section-header,
.section-header span{
	font-size: 1.6rem;
	font-family: 'Acme', sans-serif;
}
.section-container{
	display: flex;
	flex-direction: column;
	gap: 10px;	
	margin: 20px auto;
	padding: 10px;
	width: 50%;
	overflow: scroll;
	background-color: #ffe0b5;
	border: 2px solid #732d0a;
	border-radius: 10px;
	min-height: auto;
	max-height: 700px;
}
.employee-info-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #f1f5f9;
	border: 2px dashed black;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
}
.section-text,
.section-text span{
	font-size: 1.2rem;
	font-weight: 700;
}
.section-button{
	background-color: #732d0a;
	border: 2px solid white;
	color: white;
	padding: 5px 20px;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
}
.business-info-container,
.business-info-container-owner,
.report-info-container-owner{
	padding: 10px;
	width: 40%;
	margin: 20px auto;
	background-color: white;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: repeat(5, 40px);
	justify-content: center;
	align-items: center;
	gap: 0 20px;
	border: 2px dashed black;
	border-radius: 10px;
}
.business-info-container-owner,
.report-info-container-owner{
	width: 90%;
}
.business-image-container,
.report-image-container{
	grid-column: 1 / 2;
	grid-row: 1 / 6;
}
.request-info-container{
	display: grid;
	width: 90%;
	margin: 0 auto;
	gap: 10px 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 50px;
}
.rent-button{
	grid-row: 2 / 3;
	grid-column: 1 / 3;
}
.request-info-container div{
	padding: 10px;
	background-color: white;
	border: 2px dashed black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}
.finance-request-container{
	padding: 10px;
	width: 90%;
	margin: 20px auto;
	background-color: white;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: repeat(7, 35px);
	justify-content: center;
	align-items: center;
	gap: 0 20px;
	border: 2px dashed black;
	border-radius: 10px;
}
.finance-image-container{
	grid-column: 1 / 2;
	grid-row: 1 / 8;
}
.red-button-bg{
	background-color: #b91c1c;
}
.red-button-bg:hover{
	background-color: #ef4444;
}
.green-button-bg{
	background-color: #16a34a;
}
.green-button-bg:hover{
	background-color: #4ade80;
}
