*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
body{
	padding: 10px;
	background-color: #ffe0b5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.simple-message{
	text-align: center;
	font-size: 1.2rem;
	font-style: italic;
	font-weight: bold;
}
label{
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 10px;
}
input,
select,
textarea{
	font-size: 1.2rem;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid black;
	background: none;
}
input:focus,
select:focus,
textarea:focus{
	outline: none !important;
	border-bottom: 2px solid #732d0a;
}
.simple-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #f1f5f9;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 3px 3px 5px gray;
}
.simple-header{
	text-align: center;
	font-size: 2rem;
	font-family: 'Acme', sans-serif;
	border-bottom: 1px solid gray;
}
.simple-header-requests{
	text-align: center;
	font-size: 1.6rem;
	font-family: 'Acme', sans-serif;
	border-bottom: 1px solid gray;
}
.form-button{
	background-color: #732d0a;
	color: white;
	font-weight: 700;
	font-size: 1.2rem;
	border: 2px solid white;
	padding: 5px 20px;
	box-shadow: 2px 2px 5px gray;
	text-decoration: none;
}
.form-button:hover{
	background-color: #b45309;
}
.redirect-button{
	background-color: #a3a3a3;
	text-decoration: none;
	color: black;
	border: 2px solid black;
	font-weight: 700;
	padding: 5px 20px;
	font-size: 1.2rem;
	box-shadow: 2px 2px 5px gray;
}
.redirect-button:hover{
	background-color: #e5e5e5;
}
.redirect-link-button{
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 700;
	color: #1d4ed8;
}
.redirect-link-button:hover{
	color: #60a5fa;
}
.profile-image-container{
	width: 200px;
	height: 200px;
	border: 2px solid black;
	box-shadow: 2px 2px 5px gray;
	margin: 10px auto;
}
.scale-image{
	width: 100%;
	height: 100%;
}
.profile-user-info-container{
	padding: 5px;
	width: 70%;
	margin: 10px auto;
	border: 2px dashed black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background-color: white;
	border-radius: 10px;
}
.profile-user-info-container>p,
.profile-user-info-container>p>span{
	font-size: 1.2rem;
	font-weight: 700;
	font-style: italic;
}
#profileImageForm{
	display: none;
}
.red-button-bg{
	background-color: #b91c1c;
}
.red-button-bg:hover{
	background-color: #ef4444;
}
.green-button-bg{
	background-color: #16a34a;
}
.green-button-bg:hover{
	background-color: #4ade80;
}
.form-vehicle-image-container{
	width: 400px;
	width: 400px;
	border: 2px solid black;
	box-shadow: 2px 2px 5px gray;
	margin: 10px auto;
}
.smaller-simple-header{
	font-weight: 700;
	font-size: 1.6rem;
}
.request-info-container{
	display: flex;
	width: 90%;
	margin: 0 auto;
	gap: 10px;
}
.request-info-container div{
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	background-color: white;
	border: 2px dashed black;
	border-radius: 5px;
	box-shadow: 2px 2px 5px gray;
}
.request-info-container div p,
.request-info-container div p span{
	font-size: 1.2rem;
	font-weight: 700;
}
.request-details-container{
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	width: 90%;
	margin: 0 auto;
	background-color: white;
	border: 2px dashed black;
	border-radius: 5px;
	box-shadow: 2px 2px 5px gray;
}
.request-details-container p,
.request-details-container span{
	font-size: 1.2rem;
	font-weight: 700;
}
.image-controls-container{
	display: flex;
	gap: 10px;
}
.slide-vehicle-image-container{
	width: 400px;
	height: 300px;
	border: 2px solid black;
	box-shadow: 2px 2px 5px gray;
	margin: 10px auto;
}
.prev,
.next{
	flex: 1;
	text-decoration: none;
	background-color: #732d0a;
	color: white;
	font-size: 1.4rem;
	text-align: center;
	padding: 5px;
	border: 2px solid white;
}
.prev:hover,
.next:hover{
	background-color: #b45309;
}
.selected-vehicle-info-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	background-color: white;
	border: 2px dashed black;
	border-radius: 10px;
}
.selected-vehicle-info-container p,
.selected-vehicle-info-container p span{
	font-size: 1.2rem;
	font-weight: 700;
}
.requests-info-container{
	padding: 5px;
	background-color: white;
	border: 2px dashed black;
}
.requests-info-container p,
.requests-info-container p span{
	font-size: 1.2rem;
	font-weight: 700;
}