<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Business</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="simple-container">
		<h1 class="simple-header">Add Business</h1>
		<a th:href="@{/owner-page}" class="redirect-button">Return</a>
		<form th:action="@{/add-business-submit}" method="post" th:object="${business}">
			<label for="name">Name:</label>
			<input th:field="*{name}" type="text" id="name" name="name" placeholder="Enter business name" required>
			<br/>
			<label for="address">Address:</label>
			<input th:field="*{address}" type="text" id="address" name="address" placeholder="Enter business address" required>
			<br/>
			<label for="city">City:</label>
			<input th:field="*{city}" type="text" id="city" name="city" placeholder="Enter business city" required>
			<br/>
			<input type="submit" value="Create Business" class="form-button">
		</form>
	</div>
</body>
</html>