<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Director</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="simple-container">
		<h1 class="simple-header">Add Director</h1>
		<a th:href="@{/owner-page}" class="redirect-button">Return</a>
		<form th:action="@{/add-director-submit}" method="post" th:object="${directorDto}">
			<label for="firstName">First Name:</label>
	        <input th:field="*{firstName}" type="text" id="firstName" name="firstName" placeholder="Enter directors first name" required>
			<br/>
	        <label for="lastName">Last Name:</label>
	        <input th:field="*{lastName}" type="text" id="lastName" name="lastName" placeholder="Enter directors last name" required>
			<br/>
	        <label for="nickname">Nickname:</label>
	        <input th:field="*{nickname}" type="text" id="nickname" name="nickname" placeholder="Enter directors nickname" required>
			<br/>
	        <label for="email">Email:</label>
	        <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter directors email" required>
			<br/>
	        <label for="password">Password:</label>
	        <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter directors password" required>
			<br/>
			<label for="gender">Gender:</label>
			<select id="gender" th:field="*{gender}">
				<option th:value="Male" th:text="Male" selected></option>
				<option th:value="Female" th:text="Female"></option>
			</select>
			<br/>
			<label for="birthDate">Birth Date:</label>
	        <input th:field="*{birthDate}" type="date" id="birthDate" name="birthDate" required>
	        <br/>
	        <label for="jmbg">JMBG:</label>
			<input th:field="*{jmbg}" type="text" id="jmbg" name="jmbg" placeholder="Enter directors JMBG" required>
			<br/>
			<label for="pay">Pay:</label>
			<input th:field="*{pay}" type="number" id="pay" name="pay" placeholder="Enter directors pay" step="0.01" required>
			<br/>
			<label>Select which business to assing to the director:</label>
			<select th:field="*{name}">
				<option th:each="business : ${allBusinesses}" th:value="${business.name}" th:text="${business.name}"></option>
			</select>
			<br/>
			<input type="submit" value="Add Director" class="form-button">
		</form>
	</div>
</body>
</html>