<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Report</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="simple-container">
		<h1 class="simple-header">Add Report</h1>
		<a th:href="@{/redirect-from-reportEntity}" class="redirect-button">Return</a>
		<form th:action="@{/add-reportEntity-submit}" method="post" th:object="${reportEntity}">
			<label for="title">Title:</label>
			<input th:field="*{title}" type="text" id="title" name="title" placeholder="Enter reportEntity title" required>
			<br/>
			<label for="content">Report Content:</label>
			<br/>
			<textarea th:field="*{content}" id="content" name="content" placeholder="Enter reportEntity content" rows="10" cols="80" required></textarea>
			<br/>
			<label for="priority">Priority:</label>
			<select id="priority" th:field="*{priority}">
				<option th:value="Low" th:text="Low" selected></option>
				<option th:value="Medium" th:text="Medium"></option>
				<option th:value="High" th:text="High"></option>
			</select>
			<br/>
			<input type="submit" value="Create Report" class="form-button">
		</form>
	</div>
</body>
</html>