<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Page</title>
    <link rel="stylesheet" th:href="@{/css/mainPages.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header-container">
		<h1 class="header-title">Finance Page</h1>
		<div>
			<a th:href="@{/add-report}" class="header-button">Create Report</a>
			<span sec:authorize="isAuthenticated"><a th:href="@{/logout}" class="header-button">Logout</a></span>
		</div>
	</div>
	
	<div class="section-header-container">
		<h2 class="section-header">Details about: "<span th:text="${businessEntity.getName()}"></span>" businessEntity:</h2>
	</div>
	
	<div class="businessEntity-info-container">
		<div class="businessEntity-image-container">
			<img src="/images/businessicon.png" alt="Business Icon" class="scale-image">
		</div>
		<p class="section-text">Business ID: <span th:text="${businessEntity.getId()}"></span></p>
		<p class="section-text">Name: <span th:text="${businessEntity.getName()}"></span></p>
		<p class="section-text">Location: <span th:text="${businessEntity.getAddress() + ' (' + businessEntity.getCity() + ')'}"></span></p>
		<p class="section-text">Profit: <span th:text="${businessEntity.getProfit()}"></span>$</p>
		<p class="section-text">Created date: <span th:text="${businessEntity.getCreationDate()}"></span></p>
	</div>
	
	<div class="section-header-container">
		<h2 class="section-header">Finished Rents in: "<span th:text="${businessEntity.getName()}"></span>" businessEntity:</h2>
	</div>
	<div class="section-container">
		<div th:each="request : ${allRequests}" class="finance-request-container">
			<div class="finance-image-container">
				<img src="/images/reporticon.png" alt="Request Icon" class="scale-image">
			</div>
			<p class="section-text">Request ID: <span th:text="${request.getId()}"></span></p>
			<p class="section-text">Creation Date: <span th:text="${request.getCreationDate()}"></span></p>
			<p class="section-text">Start Time: <span th:text="${request.getStartTime()}"></span></p>
			<p class="section-text">End Time: <span th:text="${request.getEndTime()}"></span></p>
			<p class="section-text">Payment: <span th:text="${request.getPaymentMethod() + ' (' + request.getRequestProfit() + ' $) '}"></span></p>
			<p class="section-text">Client Name: <span th:text="${request.getClientFullName()}"></span></p>
			<p class="section-text">Vehicle: <span th:text="${request.getVehicleBrandModel()}"></span></p>
		</div>
	</div>
	
</body>
</html>