<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handle Request</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="simple-container">
		<h1 class="simple-header">Handle Request</h1>
		<a th:href="@{/rent-dashboard-page}" class="redirect-button">Return</a>
		<div class="form-vehicleEntity-image-container">
			<img th:if="${vehicleImage.getImageName() != null}" th:src="'/vehicle_images/'+${vehicleImage.getImageName()}" alt="Vehicle Image" class="scale-image">
		</div>
		<div class="requestEntity-info-container">
			<div>
				<p>Client name: <span th:text="${clientUser.getFirstName() + ' ' + clientUser.getLastName()}"></span></p>
				<p>Email: <span th:text="${clientUser.getEmail()}"></span></p>
				<p>JMBG: <span th:text="${clientEntity.getJmbg()}"></span></p>
				<p>Bank Information: <span th:text="${clientEntity.getBankInformation()}"></span></p>
				<p>License number: <span th:text="${clientEntity.getLicenseNumber()}"></span></p>
			</div>
			<div>
				<p>Vehicle name: <span th:text="${vehicleEntity.getBrand() + ' ' + vehicleEntity.getModelName()}"></span></p>
				<p>Registration plates: <span th:text="${vehicleEntity.getRegistrationPlate()}"></span></p>
				<p>Model Year: <span th:text="${vehicleEntity.getModelYear()}"></span></p>
				<p>Price: <span th:text="${vehicleEntity.getPrice()}"></span>$</p>
			</div>
		</div>
		<div class="requestEntity-details-container">
			<p>Start date: <span th:text="${requestEntity.getStartTime()}"></span></p>
			<p>End date: <span th:text="${requestEntity.getEndTime()}"></span></p>
			<p>Payment method: <span th:text="${requestEntity.getPaymentMethod()}"></span></p>
		</div>
		<form th:action="@{/deny-requestEntity/{id}(id=${requestEntity.getId()})}" method="post">
			<label for="note">Deny Reason:</label>
			<br/>
			<textarea id="note" name="note" rows="8" cols="60" placeholder="Enter deny reason" required></textarea>
			<br/>
			<a th:href="@{/handle-requestEntity/{id}/approve(id=${requestEntity.getId()})}" class="form-button green-button-bg">Approve</a>
			<input type="submit" value="Deny" class="form-button red-button-bg">
		</form>
	</div>
</body>
</html>