<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/mainPages.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header-container">
		<h1 class="header-title">Maintenance Dashboard</h1>
		<div>
			<a th:href="@{/add-report}" class="header-button">Create Report</a>
			<span sec:authorize="isAuthenticated"><a th:href="@{/logout}" class="header-button">Logout</a></span>
		</div>
	</div>
	
	<div class="section-header-container">
		<h2 class="section-header">List of vehicles that belong to "<span th:text="${businessEntity.getName()}"></span>" businessEntity:</h2>
	</div>
	<div class="section-container">
		<div th:each="vehicle : ${allVehiclesWithImages}" th:if="${vehicle.getStatus()}=='AVAILABLE'" class="maintenance-vehicle-container">
			<div class="maintenance-image-container">
				<img th:if="${vehicle.getImageName() != null}" th:src="'/vehicle_images/'+${vehicle.getImageName()}" alt="Vehicle Image" class="scale-image">
			</div>
			<p class="offer-text">Name: <span th:text="${vehicle.getBrand() + ' ' + vehicle.getModelName()}"></span></p>
			<p class="offer-text">Model Year: <span th:text="${vehicle.getModelYear()}"></span></p>
			<p class="offer-text">Status: <span th:text="${vehicle.getStatus()}"></span></p>
			<a th:href="@{/report-damageEntity/{vehicleId}(vehicleId=${vehicle.getId()})}" class="form-button-extended red-button-bg">Report Damage</a>
		</div>
	</div>
	
	
	
	<div class="section-header-container">
		<h2 class="section-header">Choose vehicle which has been repaired:</h2>
	</div>
	<div class="section-container">
		<div th:each="vehicle : ${allVehiclesWithImages}" th:if="${vehicle.getStatus()}=='DAMAGED'" class="maintenance-vehicle-container">
			<div class="maintenance-image-container">
				<img th:if="${vehicle.getImageName() != null}" th:src="'/vehicle_images/'+${vehicle.getImageName()}" alt="Vehicle Image" class="scale-image">
			</div>
			<p class="offer-text">Name: <span th:text="${vehicle.getBrand() + ' ' + vehicle.getModelName()}"></span></p>
			<p class="offer-text">Model Year: <span th:text="${vehicle.getModelYear()}"></span></p>
			<p class="offer-text">Status: <span th:text="${vehicle.getStatus()}"></span></p>
			<a th:href="@{/record-fix/{vehicleId}(vehicleId=${vehicle.getId()})}" class="form-button-extended green-button-bg">Record Fix</a>
		</div>
	</div>
	
	
</body>
</html>