<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owners Page</title>
    <link rel="stylesheet" th:href="@{/css/mainPages.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header-container">
		<h1 class="header-title">Owners Page</h1>
		<div>
			<a th:href="@{/add-businessEntity}" class="header-button">Add new Business</a>
			<a th:href="@{/add-directorEntity}" class="header-button">Add new Director</a>
			<a th:href="@{/add-employeeEntity}" class="header-button">Add new Employee</a>
			<a th:href="@{/add-vehicleEntity}" class="header-button">Add new Vehicle</a>
			<span sec:authorize="isAuthenticated"><a th:href="@{/logout}" class="header-button">Logout</a></span>
		</div>
	</div>
	
	<div class="section-header-container">
		<h2 class="section-header">All agency businesses:</h2>
	</div>
	<div class="section-container">
		<div th:each="businessEntity : ${allBusinessEntities}" class="businessEntity-info-container-owner">
			<div class="businessEntity-image-container">
				<img src="/images/businessicon.png" alt="Business Icon" class="scale-image">
			</div>
			<p class="section-text">Business ID: <span th:text="${businessEntity.getId()}"></span></p>
			<p class="section-text">Name: <span th:text="${businessEntity.getName()}"></span></p>
			<p class="section-text">Location: <span th:text="${businessEntity.getAddress() + ' (' + businessEntity.getCity() + ')'}"></span></p>
			<p class="section-text">Proift: <span th:text="${businessEntity.getProfit()}"></span>$</p>
			<p class="section-text">Created date: <span th:text="${businessEntity.getCreationDate()}"></span></p>
		</div>
	</div>
	
	<div class="section-header-container">
		<h2 class="section-header">List of reports:</h2>
	</div>
	<div class="section-container">
		<div th:each="reportEntity : ${allReportEntities}" class="reportEntity-info-container-owner">
			<div class="reportEntity-image-container">
				<img src="/images/reporticon.png" alt="Report Icon" class="scale-image">
			</div>
			<p class="section-text">Title: <span th:text="${reportEntity.getTitle()}"></span></p>
			<p class="section-text">Priority: <span th:text="${reportEntity.getPriority()}"></span></p>
			<p class="section-text">Creation Date: <span th:text="${reportEntity.getCreationDate()}"></span></p>
			<p class="section-text">Employee: <span th:text="${reportEntity.getEmployeeEntity().getUserEntity().getFirstName() + ' ' + reportEntity.getEmployeeEntity().getUserEntity().getLastName()}"></span></p>
			<p class="section-text">Role: <span th:text="${reportEntity.getEmployeeEntity().getUserEntity().getRole()}"></span></p>
		</div>
	</div>
	
	<div class="section-header-container">
		<h2 class="section-header">List of agency vehicles:</h2>
	</div>
	<div class="section-container">
		<div th:each="vehicleEntity : ${allVehiclesWithImages}" class="owner-vehicleEntity-container">
			<div class="owner-image-container">
				<img th:if="${vehicleEntity.getImageName() != null}" th:src="'/vehicle_images/'+${vehicleEntity.getImageName()}" alt="Vehicle Image" class="scale-image">
			</div>
			<p class="offer-text">Brand: <span th:text="${vehicleEntity.getBrand()}"></span></p>
			<p class="offer-text">Model Name: <span th:text="${vehicleEntity.getModelName()}"></span></p>
			<p class="offer-text">Price: <span th:text="${vehicleEntity.getPrice() + ' $'}"></span></p>
			<a th:href="@{/remove-vehicleEntity/{id}(id=${vehicleEntity.getId()})}" class="form-button-extended red-button-bg">REMOVE</a>
		</div>
	</div>
	
</body>
</html>