<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/imageForm.js"></script>
</head>
<body>
	<div class="simple-container">
		<h1 class="simple-header">User Profile</h1>
		<a th:href="@{/user-page}" class="redirect-button">Return</a>
		<p class="simple-message">If your new profile picture is not appearing, refresh the site or come back later.</p>
	    <div th:if="${user}">
			<div class="profile-image-container">
	        	<img th:if="${user.getProfileImage() != null}" th:src="'/user_images/'+${user.getProfileImage()}" alt="Profile Image" class="scale-image">
	        </div>
	        <div class="profile-user-info-container">
				<p th:text="${user.getNickname()}"></p>
		        <p>First Name: <span th:text="${user.getFirstName()}"></span></p>
		        <p>Last Name: <span th:text="${user.getLastName()}"></span></p>
		        <p>Email: <span th:text="${user.getEmail()}"></span></p>
		        <p>Gender: <span th:text="${user.getGender()}"></span></p>
		        <p>Birth Date: <span th:text="${user.getBirthDate()}"></span></p>
	        </div>
	    </div>
	    <button id="showFormButton" class="form-button">Change Profile Image</button>
	    <div id="profileImageForm">
		    <form th:action="@{/profile/{id}/submit-image(id=${user.id})}" method="post" enctype="multipart/form-data">
				<label for="profileImage">Profile image:</label>
				<input type="file" name="image" id="profileImage" accept=".jpg, .png">
				<br/>
				<input type="submit" value="Submit" class="form-button green-button-bg">
				<br/>
			</form>
			<button id="hideFormButton" class="form-button red-button-bg">Cancel</button>
		</div>
		<a th:if="${client.getIsConfirmed()==0}" th:href="@{/profile/{id}/add-information(id=${user.id})}" class="redirect-button">Add information</a>
		<a th:if="${client.getIsConfirmed()==1}" th:href="@{/profile/{id}/add-information(id=${user.id})}" class="redirect-button">Edit information</a>
	</div>
</body>
</html>