<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/mainPages.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header-container">
		<h1 class="header-title">Rent Dashboard</h1>
		<div>
			<a th:href="@{/add-report}" class="header-button">Create Report</a>
			<span sec:authorize="isAuthenticated"><a th:href="@{/logout}" class="header-button">Logout</a></span>
		</div>
	</div>
	<div class="section-header-container">
		<h2 class="section-header">Pending Rent Requests:</h2>
	</div>
	<div class="section-container">
		<div th:each="request : ${allRequests}" th:if="${request.getStatus()}=='PENDING'" class="request-info-container">
			<div>
				<p class="section-text">Name: <span th:text="${request.getClientEntity().getUserEntity().getFirstName() + ' ' + request.getClientEntity().getUserEntity().getLastName()}"></span></p>
				<p class="section-text">Nickname: <span th:text="${request.getClientEntity().getUserEntity().getNickname()}"></span></p>
				<p class="section-text">E-mail: <span th:text="${request.getClientEntity().getUserEntity().getEmail()}"></span></p>
			</div>
			<div>
				<p class="section-text">Vehicle: <span th:text="${request.getVehicle().getBrand() + ' ' + request.getVehicle().getModelName()}"></span></pclass="section-text">
				<p class="section-text">Model Year: <span th:text="${request.getVehicle().getModelYear()}"></span></p>
				<p class="section-text">Price: <span th:text="${request.getVehicle().getPrice()}"></span>$</p>
			</div>
			<a th:href="@{/handle-request/{id}(id=${request.getId()})}" class="form-button-extended rent-button">Handle Request</a>
		</div>
	</div>
	</div>
	
	<div class="section-header-container">
		<h2 class="section-header">Record Vehicle Return:</h2>
	</div>
	<div class="section-container">
		<div th:each="request : ${allRequests}" th:if="${request.getStatus()}=='ONGOING'" class="request-info-container">
			<div>
				<p class="section-text">Name: <span th:text="${request.getClientEntity().getUserEntity().getFirstName() + ' ' + request.getClientEntity().getUserEntity().getLastName()}"></span></p>
				<p class="section-text">Nickname: <span th:text="${request.getClientEntity().getUserEntity().getNickname()}"></span></p>
				<p class="section-text">E-mail: <span th:text="${request.getClientEntity().getUserEntity().getEmail()}"></span></p>
			</div>
			<div>
				<p class="section-text">Vehicle: <span th:text="${request.getVehicle().getBrand() + ' ' + request.getVehicle().getModelName()}"></span></pclass="section-text">
				<p class="section-text">Model Year: <span th:text="${request.getVehicle().getModelYear()}"></span></p>
				<p class="section-text">Price: <span th:text="${request.getVehicle().getPrice()}"></span>$</p>
			</div>
			<a th:href="@{/return-vehicle/{id}(id=${request.getId()})}" class="form-button-extended rent-button green-button-bg">Record Return</a>
		</div>
	</div>
</body>
</html>