<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Vehicle</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/slideshow.js"></script>
</head>
<body>
	<div class="simple-container">
		<h1 class="simple-header">Selected Vehicle</h1>
		<a th:href="@{/home-page}" class="redirect-button">Return</a>
		<div th:each="vehicleImage : ${vehicleImages}" class="slide-vehicle-image-container forSlide">
			<img th:if="${vehicleImage.getImageName() != null}" th:src="'/vehicle_images/'+${vehicleImage.getImageName()}" alt="Vehicle Image" class="scale-image">
		</div>
		<div class="image-controls-container">
			<a href="#" class="prev">&lt;</a>
			<a href="#" class="next">&gt;</a>
		</div>
		<div class="selected-vehicle-info-container">
			<p>Vehicle Name: <span th:text="${vehicle.getBrand() + ' ' + vehicle.getModelName()}"></span></p>
			<p>Model Year: <span th:text="${vehicle.getModelYear()}"></span></p>
			<p>Engine: <span th:text="${vehicle.getEngineDisplacement() + ' cc (' + vehicle.getHorsepower() + ' hp) ' + vehicle.getFuel()}"></span></p>
			<p>Transmission: <span th:text="${vehicle.getTransmission()}"></span></p>
			<p>Body type: <span th:text="${vehicle.getBodyShape() + ' ' + vehicle.getColor()}"></span></p>
			<p>Price: <span th:text="${vehicle.getPrice() + ' $'}"></span></p>
		</div>
	</div>
</body>
</html>