<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Requests</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="simple-container">
		<h1 class="simple-header">Users Request History</h1>
		<a th:href="@{/userEntity-page}" class="redirect-button">Return</a>
		<h2 class="simple-header-requests">Pending Rent Requests</h2>
		<div th:each="requestEntity : ${clientsRequestEntities}">
			<div th:if="${requestEntity.getStatus()=='PENDING'}" class="requests-info-container">
				<p>Vehicle Name: <span th:text="${requestEntity.getVehicleEntity().getBrand() + ' ' + requestEntity.getVehicleEntity().getModelName()}"></span></p>
				<p>Request Creation Date: <span th:text="${requestEntity.getCreationDate()}"></span></p>
				<p>Rent Start Date: <span th:text="${requestEntity.getStartTime()}"></span></p>
				<p>Rent End Date: <span th:text="${requestEntity.getEndTime()}"></span></p>
				<p>Payment Method: <span th:text="${requestEntity.getPaymentMethod()}"></span></p>
			</div>
		</div>
		<h2 class="simple-header-requests">Ongoing Rents</h2>
		<div th:each="requestEntity : ${clientsRequestEntities}">
			<div th:if="${requestEntity.getStatus()=='ONGOING'}" class="requests-info-container">
				<p>Vehicle Name: <span th:text="${requestEntity.getVehicleEntity().getBrand() + ' ' + requestEntity.getVehicleEntity().getModelName()}"></span></p>
				<p>Request Creation Date: <span th:text="${requestEntity.getCreationDate()}"></span></p>
				<p>Rent Start Date: <span th:text="${requestEntity.getStartTime()}"></span></p>
				<p>Rent End Date: <span th:text="${requestEntity.getEndTime()}"></span></p>
				<p>Payment Method: <span th:text="${requestEntity.getPaymentMethod()}"></span></p>
			</div>
		</div>
		<h2 class="simple-header-requests">Finished Rents</h2>
		<div th:each="requestEntity : ${clientsRequestEntities}">
			<div th:if="${requestEntity.getStatus()=='FINISHED'}" class="requests-info-container">
				<p>Vehicle Name: <span th:text="${requestEntity.getVehicleEntity().getBrand() + ' ' + requestEntity.getVehicleEntity().getModelName()}"></span></p>
				<p>Request Creation Date: <span th:text="${requestEntity.getCreationDate()}"></span></p>
				<p>Rent Start Date: <span th:text="${requestEntity.getStartTime()}"></span></p>
				<p>Rent End Date: <span th:text="${requestEntity.getEndTime()}"></span></p>
				<p>Payment Method: <span th:text="${requestEntity.getPaymentMethod()}"></span></p>
			</div>
		</div>
		<h2 class="simple-header-requests">Denied Requests</h2>
		<div th:each="requestEntity : ${clientsRequestEntities}">
			<div th:if="${requestEntity.getStatus()=='DENIED'}" class="requests-info-container">
				<p>Vehicle Name: <span th:text="${requestEntity.getVehicleEntity().getBrand() + ' ' + requestEntity.getVehicleEntity().getModelName()}"></span></p>
				<p>Request Creation Date: <span th:text="${requestEntity.getCreationDate()}"></span></p>
				<p>Rent Start Date: <span th:text="${requestEntity.getStartTime()}"></span></p>
				<p>Rent End Date: <span th:text="${requestEntity.getEndTime()}"></span></p>
				<p>Payment Method: <span th:text="${requestEntity.getPaymentMethod()}"></span></p>
				<p>Deny Reason: <span th:text="${requestEntity.getNote()}"></span></p>
			</div>
		</div>
	</div>
</body>
</html>