<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a vehicle Agency</title>
    <link rel="stylesheet" th:href="@{/css/mainPages.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/sidemenu.js"></script>
</head>
<body>
	<div class="main-title-container">
		<img id="menuButton" class="menu" src="/images/menu.svg">
		<h1 class="main-title">Rent-a-vehicle Agency</h1>
	</div>
	
	<div class="side-menu">
		<span id="closeButton">&times;</span>
		<a th:href="@{/profile/{id}(id=${userEntity.id})}">View Profile</a>
		<a th:href="@{/userEntity-requests}">View Requests</a>
		<span sec:authorize="isAuthenticated"><a th:href="@{/logout}">Logout</a></span>
	</div>
	
	<div class="main-page-image-container">
		<img src="/images/lineup.jpg" class="scale-image">
	</div>
	
	<div class="about-us-container">
		<h2 class="simple-header">About Us</h2>
		<p class="about-us-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce viverra justo sed nulla porta iaculis sed a massa. 
			Donec sed fringilla ipsum. Nam imperdiet nunc non dui tincidunt, 
			id auctor ante mollis. Mauris condimentum dui erat, et molestie 
			lacus dapibus a. Suspendisse potenti. Vivamus scelerisque accumsan 
			feugiat. Praesent eu lorem viverra, auctor felis eget, hendrerit sem. 
			Nunc interdum cursus neque in volutpat. Duis consequat sapien nec mollis 
			interdum. Mauris placerat, elit et laoreet convallis, nisl diam mattis lectus, 
			nec imperdiet ante metus sed nisi. Pellentesque lectus nulla, aliquam et laoreet 
			non, mollis vitae orci. Aliquam lobortis nulla quis mi iaculis vulputate."</p>
	</div>
	
	<div class="offer-header-container">
		<h2 class="simple-header">Below is the list of vehicles we offer: </h2>
	</div>
	<div class="offer-container">
	    <div th:each="vehicle : ${allVehiclesWithImages}" class="offer-vehicle-container">
			<div class="offer-image-container">
				<img th:if="${vehicle.getImageName() != null}" th:src="'/vehicle_images/'+${vehicle.getImageName()}" alt="Vehicle Image" class="scale-image">
			</div>
			<p class="offer-text">Brand: <span th:text="${vehicle.getBrand()}"></span></p>
			<p class="offer-text">Model Name: <span th:text="${vehicle.getModelName()}"></span></p>
			<p class="offer-text">Price: <span th:text="${vehicle.getPrice() + ' $'}"></span></p>
			<a th:href="@{/selected-vehicle/{vehicleId}(vehicleId=${vehicle.getId()})}" class="form-button-extended">SELECT</a>
		</div>
	</div>
	
	<div class="footer">
		<div class="footer-item">
			<span>Random Address<br>
                Random City<br>
                Bosnia and Herzegovina<br></span>
		</div>
		<div class="footer-item">
			<span>&copy;2024<br>
                Rent-a-vehicle Agency<br>
                wwww.rentavehicleagency.com<br></span>
		</div>
		<div class="footer-item-with-links">
			<a href="https://www.instagram.com/">
                <img class="social-image" alt="Instagram" src="/images/instagram.svg">
            </a>
            <a href="https://www.facebook.com">
                <img class="social-image" alt="Facebook" src="/images/facebook.svg">
            </a>
            <a href="https://www.linkedin.com">
                <img class="social-image" alt="LinkedIn" src="/images/linkedIn.svg">
            </a>
		</div>
	</div>
</body>
</html>